/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.navbar-item {
  @apply hover:text-orange-500 md:hover:text-purple-700 transition-colors dark:hover:dark:text-[#0891B2];
}

.hamburger {
  @apply text-center sm:text-left bg-purple-700 dark:bg-gray-600 md:bg-white md:dark:bg-[#171c28]  w-full px-10 sm:px-0 right-0 z-50 sm:w-72 absolute top-20 sm:right-4 md:static md:top-0 md:right-0 rounded-none sm:rounded-xl md:block;
}

.active {
  opacity: 1;
  cursor: pointer;
}

.technologies {
  @apply cursor-pointer flex flex-col justify-center items-center gap-2;
}

.lightBtn {
  @apply from-purple-500 via-purple-600 to-purple-700 focus:ring-purple-300 shadow-purple-500/50;
}

.darkBtn {
  @apply from-cyan-400 via-cyan-500 to-cyan-600 focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-cyan-500/50 dark:shadow-cyan-800/80;
}
